.carousel-container {
    display: grid;
    width: 40em;
    align-items: center;
    position: relative;
    border: solid red;
    border-radius: 10px;

}

.swiper1 {
    display: inherit;
    width: 100%;
    height: 50vh;
}

.slide-container {
    height: calc(100% - 6px);
}

.slide-img {
    display: block;
    height: 100%;
    width: 100%;
    /* height: 30em;
    width: 30em; */
    object-fit: contain;
}

.progress-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 14px);
    gap: 10px;
    justify-content: center;
    background: rgb(2, 0, 36);
    border-radius:0 0 10px 10px;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 23%, rgba(9, 10, 33, 0.6740897042410714) 73%, rgba(0, 0, 0, 0.3379552504595589) 92%, rgba(0, 0, 0, 0) 100%);
}

.progress-indicator {
    width: 10px;
    height: 10px;
    background-color: bisque;
    border: solid 2px coral;
    border-radius: 100%;
    transition: all 250ms ease;
}

.progress-indicator-active {
    background-color: coral;
}

.control-components {
    position: absolute;
    z-index: 2;
}

#button-prev {
    left: 1em;
}

#button-next {
    right: 1em;
    top: center;
}

#progress {
    align-self: flex-end;
    padding-bottom: 1em;
}