.login-container {
    /* background-color: var(--background-color); */
    border: 2px solid var(--background-color);
    border-radius: 1em;
    margin: 10% 30%;
    padding: 2em 4em;
    display: grid;
    /* justify-content: center;
    justify-items: center; */
    /* row-gap: 1em; */
    grid-template-columns: auto;
    color: var(--on-background-color);
}
/* input[type="text"] {

    border: solid 1px var(--primary-color);
    padding: 1em;
    border-radius: 0.7em;
    margin-bottom: 2em;
    display: inline-block;
    width: 100%;
} */



button {
    height: 2em;
    width: 10em;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    border: 2px solid var(--on-primary-color);
    border-radius: 0.7em;
    font-size: large;
    font-weight: 600;
}