/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #0e5d63;
    --on-primary-color: #cdedf0;
    --background-color: #7af3fc;
    --on-background-color: #0a2022;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
